<div class="h-100" style=" padding-top: 60px; ">
	<div class="fondo-color_one box-shadow">
		<div class="container-fluid">
			<div class="pt-5">
				<input type="range" min="0" #ref [(ngModel)]="ref.value" list="volsettings" value="0" id="fader" class="custom" (change)="changeZoom(ref.value)"> {{ref.value}}
				<datalist id="volsettings">
					<option value="0">0 THS</option>
					<option value="4">4 THS</option>
					<option value="10">10 THS</option>
					<option value="14">14 THS</option>
				</datalist>
			</div>
		</div>
	</div>
