<div class="d-flex align-items-stretch justify-content-center background-body">
	<div class="card mt-5">
		<div class="card-block m-4">
			<div class="text-center">
				<label class="logo h4 pt-2">{{login.logo}}</label>
				<!--img src="assets/img/logo.png" class="mt-0 mb-5 mx-0"-->
			</div>
			<h3 class="card-title color-neutro mb-4 mt-5">Bienvenido,
				<span class="h5 font-weight-normal">{{login.bienvenido}}</span>
			</h3>
			<form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)" novalidate>
				<div class="form-group">
					<input name="username" type="email" ngModel #username="ngModel" class="form-control form-control-lg" [placeholder]="login.usuario"
					 required>
					<div *ngIf="username.invalid && (username.dirty || username.touched)" class="invalid-feedback">
						Campo usuario es requerido.
					</div>
				</div>
				<div class="form-group">
					<input name="password" type="password" ngModel #password="ngModel" class="form-control form-control-lg" [placeholder]="login.password"
					 required>
					<div *ngIf=" password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
						Campo contraseña es requerido.
					</div>
				</div>
				<div *ngIf="error_mensaje != ''" class="alert alert-danger">
					{{error_mensaje}}
				</div>
				<button type="submit" routerLink="/inicio" [ngClass]="{'btn-success': loginForm.valid ,'btn-secondary': loginForm.invalid }"
				 class="btn btn-block btn-lg mt-3" [disabled]="loginForm.invalid || loading == true ">
					<span>{{ loading == false ? login.btn_login : login.btn_loggin}}</span>
				</button>
				<div class="row justify-content-between mt-3 m-0">
					<div class="col-5">
						<div class="form-check">
							<label class="form-check-label color-neutro">
								<input type="checkbox" class="form-check-input"> {{login.recordar}}
							</label>
						</div>
					</div>
					<div class="col-7 text-center text-primary">
						<u>
							<i class="linkPass" style="cursor: pointer; " data-toggle="modal" data-target="#reset-password">
								{{login.olvidaste}}</i>
						</u>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="vidvid">
	<video id="videobcg" preload="auto" autoplay="true" class="m-0 p-0" loop="loop" muted="muted" volume="0" poster="assets/video/gm-home-1.jpg">
		<source src="assets/video/gm-home-1.mp4" type="video/mp4">
		<source src="assets/video/gm-home-1.webm" type="video/webm">
		<source src="assets/video/gm-home-1.ogg" type="video/ogg">
	</video>
</div>
